{{ 'header-bottom.css' | asset_url | stylesheet_tag }}

<section class="header-bottom">
    <div class="header-bottom-wrapper">
        <div class="header-bottom__top">
            <div class="page-width">
                <div class="header-bottom__container">
                    <div class="header-bottom__categories">
                        {{ linklists['categories'].title }}
                    </div>
                    <div class="header-bottom__nav">
                        <div class="nav__menu">
                            {% if section.settings.header-bottom-menu != blank %}
                            {% for link in linklists[section.settings.header-bottom-menu].links %}
                            <div class="nav__item">
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="nav__item">Please select a menu in the section settings.</div>
                            {% endif %}
                        </div>
                        <div class="header-bottom__options">
                            <div class="header-bottom__language">
                                English
                            </div>
                            <div class="header-bottom__currency">
                                USD
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if template == "index" %}
        <div class="header-bottom__bottom">
            <div class="page-width">
                <div class="header-bottom__hero-banner">
                    <div class="hero-banner__mega-menu">
                        {% for link in linklists['categories'].links %}
                        <div class="mega-menu__item">
                            <div class="mega-menu__list">
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </div>
                            {% if link.links != blank %}
                            <div class="mega-menu__dropdown">
                                <div class="mega-menu__columns">
                                    {% for child in link.links %}
                                    <div class="mega-menu__column">
                                        <h4 class="mega-menu__column-title">{{ child.title }}</h4>
                                        {% if child.links != blank %}
                                        <ul class="mega-menu__column-list">
                                            {% for grandchild in child.links %}
                                            <li>
                                                <a href="{{ grandchild.url }}">{{ grandchild.title }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                    {% endfor %}

                                </div>
                                <div class="mega-menu__promo">
                                    <div class="mega-menu__promo-content">
                                        <p class="mega-menu__promo-subtitle">Deal of the week</p>
                                        <h3 class="mega-menu__promo-title">iPad Pro M1</h3>
                                    </div>
                                    <img src="{{ section.settings.mega_promo_image | image_url }}" alt="Promo Image"
                                        width="252" height="195">

                                    <a href="#" class="mega-menu__promo-button">Shop now</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="hero-banner__container">
                        <div class="hero-banner__content">
                            <p class="hero-banner__subtitle">Feel the real quality sound
                            </p>
                            <h2 class="hero-banner__heading">Headphones ProMax</h2>
                            <a href="#" class="hero-banner__button button">Shop now</a>
                        </div>
                        <div class="hero-banner__image">
                            <img src="{{ section.settings.banner_image | image_url: width: 300 }}"
                                alt="Hero Banner Image" width="full" height="300px" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}
    </div>
</section>

{% schema %}
{
"name": "Header Bottom",
"tag": "section",
"settings": [
{
"type": "image_picker",
"id": "banner_image",
"label": "Banner Image"
}, {
"type": "link_list",
"id": "header-bottom-menu",
"label": "Header Bottom Navigation Menu"
},
{
"type": "image_picker",
"id": "mega_promo_image",
"label": "Promotion Image"
}
],
"presets": [
{
"name": "Header Bottom"
}
]
}
{% endschema %}