{{ 'trending-product.css' | asset_url | stylesheet_tag }}
{{ 'product-fake-rating.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="trending-products">
    <div class="trending-products__header">
      <h3>{{ section.settings['trending-product-heading'] }}</h3>
      <a href="{{ section.settings['trending-product-link'] }}" class="trending-product__view-all">
        {{ section.settings['trending-product-view-all'] }}
      </a>
    </div>

    <div class="trending-products__grid">
      {% for product in section.settings['trending-products-list'] limit: 8 %}
        <div class="trending-products__item">
          <div class="trending-products__card">
            <div class="trending-products__image-wrapper">
              <a href="{{ product.url }}">
                <img
                  src="{{ product.featured_image | image_url: width: 400 }}"
                  alt="{{ product.title }}"
                  width="400"
                  height="400"
                  loading="lazy"
                >
              </a>
            </div>
            <div class="trending-products__info">
              <div class="trending-products__content">
                {% render 'product-rating', product: product %}
                <h3>
                  <a href="{{ product.url }}">
                    {{ product.title }}
                  </a>
                </h3>
              </div>
              <div class="trending-product__cart-price">
                <div class="trending-product__price">
                  <span class="price">{{ product.price | money }}</span>
                  {% if product.compare_at_price > product.price %}
                    <span class="price--sale">{{ product.compare_at_price | money }}</span>
                  {% endif %}
                </div>
                <div class="trending-product__cart">
                  <form method="post" action="{{ routes.cart_add_url }}" data-custom-add-to-cart>
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                    <button type="submit" aria-label="Add to cart">
                      {% render 'icon-cart' %}
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Trending Products",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Trending Products Setting"
    },
    {
      "type": "text",
      "id": "trending-product-heading",
      "label": "Trending Products Heading",
      "default": "Trending products"
    },
    {
      "type": "text",
      "id": "trending-product-view-all",
      "label": "View All Text",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "trending-product-link",
      "label": "View All Link"
    },
    {
      "type": "product_list",
      "id": "trending-products-list",
      "label": "Trending Product List"
    }
  ],
  "presets": [
    {
      "name": "Trending Products"
    }
  ]
}
{% endschema %}
